@import 'variables';
@import "bootstrap/scss/functions";

$table-cell-padding-y: 0.6rem;
$table-cell-padding-x: 1rem;

@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "flatpickr/dist/flatpickr.min.css";
@import 'chocolat/dist/css/chocolat.css';

:root {
  --sidebar-width: 250px;
}

html {
  font-size: 15px;
}
body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.table-responsive .dropdown {
    position: static !important;
}
.layout-wrapper {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: var(--sidebar-width);
  background-color: var(--theme-primary);
  color: #dbdbdb;
  flex-shrink: 0;

  .nav-link {
    color: #dbdbdb;
    font-weight: 400;
    padding: .75rem 1rem;
    &:hover,
    &.active {
      color: #fff;
      background-color: #2a2f36;
      border-radius: .375rem;
    }
  }
}
.sidebar-logo {
  width: 80px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin-bottom: 10px;
}
.sidemenu-divider {
  @extend .px-3, .my-2;
}

/* Content */
.content {
  flex-grow: 1;
  background-color: #f4f5f7;
}

.navbar {
  background-color: #fff;
  border-bottom: 1px solid #dee2e6;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

/* Cards & Forms */
.card {
  border-radius: .5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

@media (max-width: 991.98px) {
  .sidebar {
    position: fixed;
    left: -100%;
    top: 0;
    height: 100%;
    z-index: 1030;

    &.show {
      left: 0;
    }
  }
}
.imgp-preview {
  margin-bottom: 1rem;
  display: none;
}
.imgp-preview img {
  max-height: 200px;
  border-radius: .5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
body.login-body {
    background-color: var(--theme-primary);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-card {
    background: #fff;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    width: 400px;
    border: 2px solid #dfdfdf;
}
.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 0.9em;
}
.row-options{
  @extend .btn, .btn-sm, .btn-light, .py-0;
}